<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.project.donate">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogIn"
            android:theme="@style/Login">

        </activity>
        <activity
            android:name=".SignUp"
            android:theme="@style/Login" />
        <activity android:name=".Temp" />
        <activity
            android:name=".Cart"
            android:theme="@style/AppTheme" />
        <activity android:name=".History" />
        <activity
            android:name=".MainUi"
            android:label="@string/title_activity_main_ui"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".model.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".model.NgoList"></activity>
        <activity android:name=".CreditsUI"></activity>
    </application>

</manifest>